.debug{
  border: 1px solid black;
}

header{
  background-color: #2C3E50;
}

#start{
  background-color: #1ABC9C;
  height: 500px;
}

#about{
  background-color: #1ABC9C;
}

.me-container{
  width: 60%;
  margin: 0 auto;
}

#info{
  background-color: #3A546D;
}

footer{
  background-color: #2C3E50;
  height: 110px;
}