/****************** 
      Utility
 ******************/


.debug{
  border: 1px solid black;
}


.color-white{
  color: #ffffff;
}

.container-image{
  height: 260px;
  width: 230px;
}

.line{
  width: 15%;
  height: 3px;
  border-radius: 20px;
  margin:10px 20px 0;
  background-color: white;
}

.line-black{
  width: 15%;
  height: 3px;
  border-radius: 20px;
  margin:10px 20px 0;
  background-color: black;
}

.me-container{
  width: 75%;
  margin: 0 auto;
}

.me-button{
  background-color: #1ABC9C;
  border: none;
}

.me-button:hover{
  background-color: #13866f;
}

.circle-social{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 5px;
}

/****************** 
        CSS
 ******************/


header{
  background-color: #2C3E50;
}


#start{
  background-color: #1ABC9C;
}


#about{
  background-color: #1ABC9C;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;  
} 


#info{
  background-color: #3A546D;
  height: 450px;
}

footer{
  background-color: #2C3E50;
  height: 80px;
}

footer .copy-me{
  font-size: .8rem;
}

/****************** 
    Resolution
 ******************/

@media screen and (min-width:768px){
  #info{
    height: 250px;
  }
}